# `dist/index.js` is a special file in Actions.
# When you reference an action with `uses:` in a workflow,
# `index.js` is the code that will run.
# For our project, we generate this file through a build process from other source files.
# This generates that file.
name: Generate dist

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'dist/**'
  workflow_dispatch:

jobs:
  dist:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Generate App Token
        id: token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.token.outputs.token }}

      - name: Set Node.js 20.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Rebuild the dist/ directory
        run: |
          npm run build

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: './dist/'  
